ALTER TABLE services_cards ADD COLUMN what_you_get_heading text; ALTER TABLE services_cards ADD COLUMN what_you_get_description text; ALTER TABLE services_cards ADD COLUMN what_you_get_items jsonb DEFAULT '[]'::jsonb;
